@import url("https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css");

.dataset_inspector {
  max-height: 500px;
  min-height: 100px;
  font-size: 90%;
  padding: 0px;
  overflow-y: auto;
  font-weight: normal;
  color: #333333;
  white-space: nowrap;
  overflow-x: auto;
}

.dataset_inspector-float-wrapper {
  position: fixed !important;
  top: 120px;
  width:350px;
  max-width:800px;
  right: 20px;
  border: thin solid rgba(0, 0, 0, 0.38);
  border-radius: 5px;
  padding:10px;
  background-color: #fff;
  opacity: .95;
  z-index: 100;
  overflow: hidden;
}


.searchResults1 {
  max-height: 500px;
  min-height: 100px;
  font-size: 90%;
  padding: 0px;
  overflow-y: auto;
  font-weight: normal;
  color: #333333;
  white-space: nowrap;
  overflow-x: auto;
}

.searchResults1-float-wrapper {
  position: fixed !important;
  top: 120px;
  width:350px;
  max-width:800px;
  right: 20px;
  border: thin solid rgba(0, 0, 0, 0.38);
  border-radius: 5px;
  padding:10px;
  background-color: #fff;
  opacity: .95;
  z-index: 100;
  overflow: hidden;
}

.searchResults2 {
  max-height: 500px;
  min-height: 100px;
  font-size: 90%;
  padding: 0px;
  overflow-y: auto;
  font-weight: normal;
  color: #333333;
  white-space: nowrap;
  overflow-x: auto;
}

.searchResults2-float-wrapper {
  position: fixed !important;
  top: 120px;
  width:350px;
  max-width:800px;
  right: 20px;
  border: thin solid rgba(0, 0, 0, 0.38);
  border-radius: 5px;
  padding:10px;
  background-color: #fff;
  opacity: .95;
  z-index: 100;
  overflow: hidden;
}

.searchResults3 {
  max-height: 500px;
  min-height: 100px;
  font-size: 90%;
  padding: 0px;
  overflow-y: auto;
  font-weight: normal;
  color: #333333;
  white-space: nowrap;
  overflow-x: auto;
}

.searchResults3-float-wrapper {
  position: fixed !important;
  top: 120px;
  width:350px;
  max-width:800px;
  right: 20px;
  border: thin solid rgba(0, 0, 0, 0.38);
  border-radius: 5px;
  padding:10px;
  background-color: #fff;
  opacity: .95;
  z-index: 100;
  overflow: hidden;
}


.hide-btn{
  float: right;
  font-size: 16px;
  font-family: monospace;
}

.reload-btn{
  float: right;
  font-size: 16px;
  font-family: monospace;
}

.kill-btn{
  float: right;
  font-size: 16px;
  font-family: monospace;
}

.col-md-9 {
  overflow:hidden;
  margin-left: 14%;
  width: 80%}

#dataset_inspector-wrapper.closed {
  min-width: 250px;
  width: auto;
  transition: width;
}
#dataset_inspector-wrapper:hover{
  opacity: 1;
}
#dataset_inspector-wrapper .header {
  font-size: 16pt;
  font-weight: bold;
}

/* don't waste so much screen space... */
#dataset_inspector-wrapper .toc-item{
  padding-left: 20px;
}

#dataset_inspector-wrapper .toc-item .toc-item{
  padding-left: 10px;
}



#searchResults1-wrapper.closed {
  min-width: 250px;
  width: auto;
  transition: width;
}
#searchResults1-wrapper:hover{
  opacity: 1;
}
#searchResults1-wrapper .header {
  font-size: 16pt;
  font-weight: bold;
}

/* don't waste so much screen space... */
#searchResults1-wrapper .toc-item{
  padding-left: 20px;
}

#searchResults1-wrapper .toc-item .toc-item{
  padding-left: 10px;
}


#searchResults2-wrapper.closed {
  min-width: 250px;
  width: auto;
  transition: width;
}
#searchResults2-wrapper:hover{
  opacity: 1;
}
#searchResults2-wrapper .header {
  font-size: 16pt;
  font-weight: bold;
}



/* don't waste so much screen space... */
#searchResults2-wrapper .toc-item{
  padding-left: 20px;
}

#searchResults2-wrapper .toc-item .toc-item{
  padding-left: 10px;
}

#searchResults3-wrapper.closed {
  min-width: 250px;
  width: auto;
  transition: width;
}
#searchResults3-wrapper:hover{
  opacity: 1;
}
#searchResults3-wrapper .header {
  font-size: 16pt;
  font-weight: bold;
}



/* don't waste so much screen space... */
#searchResults3-wrapper .toc-item{
  padding-left: 20px;
}

#searchResults3-wrapper .toc-item .toc-item{
  padding-left: 10px;
}


table.table, table.table tr, table.table td, table.table th {
    border: 0;
}
table.table-nonfluid {
    width: auto !important;
}
table.table {
    margin-left: 0;
    margin-right: 0;
}
/* stuff for tablesorter plugin */
.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: 20px;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.tablesorter-default thead .sorter-false {
  background-image: none;
  cursor: default;
  padding-right: 5px;
}

.button {
  background-color: lightgray;
  color: black;
  border-style: outset;
  padding-left: 4px;
  padding-right: 4px;
}

